
:where(:host) {
   --action-color: #0080FF;
   
   display: block;
}

:host>ul:not(.allow-editing) .idle>.actions {
   display: none;
}

.action {
   & > label {
      color: var(--action-color);
   }
}

.idle-list {
   .idle-adjacent-drop-target {
      margin: 2px;
      border: 1px dashed #808;
      
      text-align: center;
      
      &::before {
         content: "...";
      }
   }
}

.idle {
   display: grid;
   grid-template:
      "label    actions"
      "contents contents"
      /
      1fr max-content
   ;
   
   &>label {
      grid-area: label;
   }
   &>.actions {
      grid-area: actions;
      flex: 0 0 auto;
   }
   &>ul {
      grid-area: contents;
   }
   
   &.multiply-placed > label {
      color: #F00;
   }
}

.orphans:has(>ul:empty) {
   display: none;
}

:host(.moving-idle) {
   .idle>.actions {
      visibility: none;
   }
}