
:where(:host) {
   --action-color: #0080FF;
}

.action {
   & > label {
      color: var(--action-color);
   }
}

.idle {
   &.multiply-placed > label {
      color: #F00;
   }
}

.orphans:has(>ul:empty) {
   display: none;
}